<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pizza</title>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            function bca () {
                $.ajax({
                    async: false,
                    cache: false,
                    type: "get",
                    url: "/pizza/edit",
                    data: {'id': 1},
                    error: function() {
                        alert("Fail to transmit parameter");
                    },
                    success: function() {
                        alert("Success to transmit parameter");
                    }
                });
            }
        </script>
    </head>
    <body>
        <h1>Pizza List</h1>
        <h2>Welcome!</h2>

        <table>
            <thead>
                <tr>
                    <th>ID</th><th>Name</th><th>Topping</th><th>Size</th><th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="pizza : ${pizzaList}">
                    <td th:text="${pizza.id}"></td>
                    <td th:text="${pizza.name}"></td><td th:text="${pizza.topping}"></td>
                    <td th:text="${pizza.size}"></td><td th:text="${pizza.price}"></td>
                    <td><a href="/pizza/edit">
                        <button onclick="bca()">Edit</button>
                    </a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>