<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pizza</title>
    </head>
    <body>
        <h1>Pizza Home Page</h1>
        <!-- <h2>Welcome <span th:text="${username}"></span> !</h2> -->

        <div><a th:href="@{/pizza/list}">Pizza List</a></div>
        <div><a th:href="@{/pizza/add}">Add Pizza</a></div>
    </body>
</html>